#fill{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: #262626ca;
}

#initConatiner{
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 65vh;
    border: solid 1px #262626;
    background: #b0b0b0;
    padding: 15px;
    border-radius: 10px;
}
#initConatiner input{
    width: 10vw;
}
#initConatiner form{
    display: grid;
    grid-template-columns: 50% 10vw;
}
#initConatiner label{
    border-bottom: solid 1px #00000044;
}
#initConatiner button{
    width: 9vw;
    margin-top: 15px;
    padding: 6px;
    border-radius: 10px;
}

@media (max-width: 650px) {
    #initConatiner{
        width: 80vw;
        height: 65vh;
    }
    #initConatiner input{
        width: 15vw;
    }
    #initConatiner form{
    grid-template-columns: 60% 15vw;
    }
    #initConatiner button{
        width: 15vw;
    }
}