#ViewPanelContainer{
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #b0b0b0;
    box-shadow: 0px 0px 2px 1px #5d5d5d;
}
@media (max-width: 650px){
    #ViewPanelContainer{
        width: 60vw;
    } 
}